
$bg_color: #1a222c;
$main_color: #1a222c;
$card_hover:  #474458;
$primary_color: #54516a;
$white: white;
$center: center;

/*====================================================
======================= public ========================
======================================================*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: capitalize;
}

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: middle;
  background: transparent;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color:  $bg_color;
}

img {
  width: 100%;
  height: 100%;
}

i,
svg {
  line-height: 0;
}

.btn,
.btn:focus {
  outline: none;
  box-shadow: none;
}

::-webkit-scrollbar {
  height: 0.5rem;
  width: 0.4rem;
}

::-webkit-scrollbar-track {
  background-color: $white;
}

::-webkit-scrollbar-thumb {
  background-color: $bg_color
}
section{
  margin: 3rem 0 0 0;
  padding: 2rem 0;
}
.sec-title{
  color: $main_color;
  text-align: $center;
  h2{
    font-size: 3rem;
    margin-bottom: .7rem;
  }
  p{
    color: $primary_color;
    font-size: 1.2rem;
    font-weight: 500;
  }
}
.card{
  background-color: transparent;
  padding: 0 1rem;
  border-radius: 25px;
  text-align: $center;
  color: $main_color;
  height: 100%;
  transition: .3s ease-in-out;
  &:hover{
    background-color: $card_hover;
    color: $white;
    .card-header{
      border-color: $white;
    }
  }
  .card-header{
    background-color: transparent;
  }
  .card-img{
    @extend .flex;
    justify-content: center !important;
    gap: .7rem;
    img{
      width: 100px;
      height: 100px;
    }
  }
  p{
    color: $primary_color;
  }
}
.main-btn{
  padding: .5rem 1rem;
  border-radius: 25px;
  border: 1px solid $main_color;
  color: $main_color;
  transition: all .3s ease;
  &:hover{
    background-color: $main_color;
    color: $white;
  }
}
.primary-btn{
  padding: .5rem 1rem;
  border-radius: 25px;
  border: 1px solid $white;
  color: $white;
  transition: all .3s ease;
  &:hover{
    background-color: $white;
    color: $main_color;
  }
}
/*=======================================================================*/

/*==========================================================
======================== extends ===========================
===========================================================*/

.flex{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

/*==============================================================*/


/*==========================================================
======================== header ===========================
===========================================================*/
header{
  height: 100vh;
  overflow: hidden;
  position: relative;
  #particles-js{
    width: 100%;
    height: 100%;
    background-color: $bg_color;
  }
  .landing{
    padding: 0 1rem;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: $center;
    color: $white;
    h1{
      font-size: 5rem;
      font-weight: bold;
    }
    p{
      font-size: 2.5rem;
      margin-bottom: 1rem;
    }
    .social{
      @extend .flex;
      justify-content: center !important;
      gap: .5rem;
      font-size: 1.3rem;
      margin-bottom: 1.5rem;
      a{
        @extend .primary-btn;
        @extend .flex;
        padding: .8rem !important;
        justify-content: center !important;
        border-radius: 50% !important;
      }
    }
    .nav{
      @extend .flex;
      justify-content: center !important;
      gap: 1rem;
      a{
        @extend .primary-btn;
      }
    }
  }
  @-webkit-keyframes bounceAnimation {
    0%, 100% {
      transform: translateX(-50%) translateY(0);
      color: $white;
    }
    50% {
      transform: translateX(-50%) translateY(-10%);
      color: lighten($white, 20%);
    }
  }
  @keyframes bounceAnimation {
    0%, 100% {
      transform: translateX(-50%) translateY(0);
      color: $white;
      opacity: 1;
    }
    50% {
      transform: translateX(-50%) translateY(-10%);
      color: lighten($white, 10%);
      opacity: .5;
    }
  }
  .icon{
    font-size: 3rem;
    color: $white;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    -webkit-animation: bounceAnimation 1s infinite alternate ease-in-out;
            animation: bounceAnimation 1s infinite alternate ease-in-out;
  }
}

/*==============================================================*/


/*==========================================================
======================== projects ======================
===========================================================*/

.projects_container{
  .project{
    margin: 2.5rem 0;
    .row{
      .col-img{
        order: 1 !important;
        .project_img{
          border-radius: 25px;
          overflow: hidden;
          img{
            -o-object-fit: cover;
               object-fit: cover;
            background-size: cover;
          }
        }
      }
      .col-text{
        order: 2 !important;
        text-align: end;
        padding: 0 2rem;
        .details{
          .about{
            margin-bottom: 1rem;
            .name{
              font-size: 2rem;
              font-weight: bold;
              margin-bottom: .5rem;
              color: $main_color;
            }
            .desc{
              color: $primary_color;
              font-size: 1.2rem;
            }
          }
        }
      }
    }
  }
}


/*==============================================================*/



/*==========================================================
======================== footer ===========================
===========================================================*/
footer{
  background-color: $bg_color;
  .content{
    @extend .flex;
    color: $white;
    padding: 1.5rem 0;
      .name{
        font-weight: bold;
      }
  }
}

/*==============================================================*/
@media (max-width: 768px){

  .sec-title{
    h2{
      font-size: 2.5rem !important;
    }
    p{
      font-size: 1rem !important;
      font-weight: 400 !important;
    }
  }

  footer{
    .content{
      flex-direction: column;
      gap: .5rem;
    }
  }
  .landing{
    padding: 0 .7rem !important;
    h1{
      font-size: 2.9rem !important;
    }
    p{
      font-size: 1.3rem !important;
    }
  }

  .projects_container{
    .project{
      .row{
        .col-text{
          text-align: center !important;
          padding: 0 .5rem !important;
        }
      }
    }
  }
}


